<div class="ui inverted vertical footer segment">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="six wide column">
          <h4 class="ui inverted header">Navigate</h4>
          <div class="ui inverted link list">
            <a href="/recipes" class="item">Recipes</a>
            <a href="/menus" class="item">Menus</a>
            <a href="/login" class="item">Login</a>
            <a href="/register" class="item">Register</a>
          </div>
        </div>
        <div class="ten wide column">
          <h4 class="ui inverted header">Reach out to me!</h4>
          <div>
              <p><i class="fab fa-github fa-fw"></i><a target="_blank" href="https://github.com/AnthonyNasser">AnthonyNasser</a></p>
              <p><i class="fab fa-discord fa-fw"></i><a href="https://discord.com/">Anthony.Nasser#5520</a></p>
              <p><i class="fab fa-linkedin fa-fw"></i><a href="https://www.linkedin.com/in/anthony-nasser-8790391b5/" target="_blank">Anthony Nasser</a></p>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>
<script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<script src="/javascript/semantic.min.js"></script>
<script src="/javascript/main.js"></script>
</body>
</html>