/* Vars */
:root {
    --primary: #31c1d4;
    --secondary: #100b49;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.menuCard {
    background-color: #b2ebf2;
    border: 2px solid var(--secondary); 
    border-radius: 5%;
    padding: 3%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 2%;
    font-size: 1em;
}
.menuCard h1, h2 {
    color: var(--secondary);
    font-weight: 600;
    font-size: 2em;
}
.menuCard h5, h6 {
    color: var(--secondary);
    margin: 0;
}
.menuCard h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}
.menuCard ul li {
    font-size: 1.3em;
    border-left: 2px solid var(--primary);
}
.menuCard a button {
    color: white;
}
.menuContainer .menuCard {
    font-size: 1.5em;
}
.menuButton {
    background-color: var(--primary);
    border: 2px solid var(--secondary); 
    border-radius: 10%;
    font-size: 1em;
    margin: 0.5%;
    padding: 3%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.menuButton a {
    color: #f8f8f8;
    text-transform: uppercase;
}

@media screen and (min-width: 620px){
    .menuContainer {
        flex-direction: row;
        flex: 1;
        width: auto;
        justify-content: space-around;
    }
}

@media screen and (min-width: 960px){

}

@media screen and (min-width: 1200px){

}