/* Vars */
:root {
    --primary: #31c1d4;
    --secondary: #100b49;
}

.recipeContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.recipeContainerShow {
    width: 50%;
    font-size: 1.2em;
    margin: 20px;
    padding: 5%;
}
.recipeContainerShow .recipeCard img{
    max-width: 75%;
}
.recipeCard {
    background-color: #b2ebf2;
    border: 2px solid var(--secondary); 
    border-radius: 5%;
    padding: 3%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 2%;
    font-size: 1em;
}
.recipeCard.form {
    font-size: 0.8em;
    width: 40%;
    height: 75%;
}
.recipeCard .leader {
    color: var(--secondary);
    font-weight: 600;
}
.recipeCard h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    color: var(--secondary);
}
.recipeCard h6 {
    font-size: 1em;
    color: var(--secondary);
}
.recipeCard li {
    color: black;
    padding: 0 3%;
    margin: 1%;
}
.recipeCard img {
    max-width: 200px;
}

@media screen and (min-width: 620px){
    .recipeContainer {
        flex-direction: row;
        flex: 1;
        width: auto;
        justify-content: space-evenly;
    }
    .recipeContainerShow {
        width: 55%;
        font-size: 1.3em;
    }
    .recipeContainerShow .recipeCard img{
        max-width: 80%;
    }
}

@media screen and (min-width: 960px){
     .recipeContainerShow {
        width: 45%;
    }
    .recipeContainerShow .recipeCard img{
        max-width: 85%;
    }
}

@media screen and (min-width: 1200px){
     .recipeContainerShow {
        width: 40%;
    }
    .recipeContainerShow .recipeCard img{
        max-width: 90%;
    }
}
