<%- include('../partials/header.ejs') %>

<div class="container home">
    <div class="box">
        <h1>Welcome to Hipponate!</h1>
        <p>
            Your one-stop home-pop-shop to learning recipes, posting recipes, and
            creating menus!
        </p>
    </div>
</div>


<%- include('../partials/footer.ejs') %>