<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="jumbotron borders">
        <h1>WELCOME TO HIPPONATE! <i class="fa fa-hippo fa-fw"></i></h1>
        <p>
            A simple way to create and share home-developed menus!
        </p>
    </div>
    <div class="cardContainer"> 
        <div class="card">
            <img src="images/food1.jpg" alt="food">
            <h2><i class="fa fa-book fa-fw"></i>Recipes</h2>
            <p>Create your own recipes using the <a href="/recipes/new">RecipeMaker</a>, and share them with the world!</p>
        </div>
        <div class="card">
            <img src="images/menu1.jpg" alt="food">
            <h2><i class="fa fa-utensils fa-fw"></i>Menus</h2>
            <p>Use your recipes to form long menus of options!</p>
        </div>
        <div class="card">
            <img src="images/community1.jpg" alt="food">
            <h2><i class="fa fa-address-book fa-fw"></i>Community</h2>
            <p>Use other's recipes and menus to customize your own!</p>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>